@charset "utf-8";
body{
    margin: 0;
    padding: 0;
    background-color:#e6e6e6;
    font-weight: normal;
	font-size: inherit;

}
.dark{
    margin: 0;
    padding: 0;
    background-color:#07101f;
    font-weight: normal;
	font-size: inherit;
    color: white;

}
body::-webkit-scrollbar {
    width: 10px; 
  }
  
  body::-webkit-scrollbar-track {
    background: #e6e6e6; 
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: gray; 
    border-radius: 20px; 
    
  }
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    }
input, select,option,button{
	border: none;
	border-color: transparent;
	width: 100%;
	height: 100%;
	background-color: inherit;
	font-size: 100%;
}
textarea{
font-weight: 400;
 font-size: 15px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
input::placeholder
{
    font-size: 85%;
}
option select
{
    font-size: 15px;
}
select option
{
  font-size: 15px;
}
textarea::placeholder
{
 font-weight: 400;
 font-size: 15px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input, button,textarea:focus{outline: none;}
.color_1{color: #416cb4;}
.color_2{color: #ffffff;}
.bg_color_1{background-color: #416cb4;}
.bg_color_2{background-color: #ffffff;}
.form_design{
    width: 320px;
    height: 40px;
    border: none;
    font-family: 'segoe ui';
    font-size: 18px;
    font-family: 400;
    
    
}
.form_design2{
    width: 95%;
    height: 40px;
    border: none;
    font-family: 'segoe ui';
    font-size: 16px;
    font-family: 400;
    background-color: #f5f8fd;
    border-radius: 4px;
    border: 0.05px solid #d1cece;
    margin-top: 8px;
    
    
    
}
.hover_all:hover
{
    text-decoration: underline;
}
.txt1{
    padding: 10px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.txt2{
    padding: 10px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: fit-content;
}
.txt3{
    padding: 10px 4px 10px 4px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.txt4{
  
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.txt5{
  
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: gray;
}
.txt6{
  
    padding: 0px 4px 0px 4px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: gray;
}
.txt7{
    padding: 10px 0px 10px 0px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: black;
}
.navigation_bar_container {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 6;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    
}
  .container_logo{
      position: absolute;
      width: 20%;
      height: 100%;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
     
    }
      .container_logo img{
          width: 45%;
      }
    .container_search{
        position: absolute;
        width: 30%;
        height: 100%;
        left: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
      .container_search_1
      {
          position: absolute;
          width: 95%;
          height: 60%;
          background-color: #eaeff7;
          display: flex;
          border-radius: 50px;
          display: flex;
          justify-items: flex-end;
      }
        .container_search_icon
        {
            position: relative;
            width: 10%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            
        }
          .container_search_icon img
          { 
              width: 45%;
          }
        .container_search_form
        {
            position: relative;
            width: 90%;
            height:100% ;
            display: flex;
            align-items: center;
            justify-content: center;
            
            
        }
    .container_icons
    {
        position: absolute;
        width: 35%;
        height: 100%;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      
    }
    .container_icons_m
    {
        position: absolute;
        width: 8%;
        height: 100%;
        left: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
        .container_icons_mi 
        {
            position: relative;
            width: 70%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .container_icons_mi img
        {
            width: 30%;
        }
        .container_icon_1
        {
            position: relative;
            width: 70px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
           
        }
            .container_icon_1 img
            {
                width: 28%;
            }
            .container_icon_1:hover,  .container_icons_mi:hover
            {
                background-color: #f5f8fd;
            }
        .new_message_container
        {
            position: absolute;
            padding: 5px;
            background-color: rgb(231, 77, 77);
            font-family: 'segoe UI';
            color: white;
            border-radius: 50px;
            top: 0;
            
        }
    .container_menu_element
    {
        position: fixed;
        top: 70px;
        width: 20%;
        height: 60%;
        right: 5%;
        border: 0.05px solid #d1cece;
        border-radius: 8px;
        visibility: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        

    }
    .visible_modal
        {
            position: fixed;
            top: 70px;
            width: 20%;
            height: 60%;
            right: 5%;
            background-color: white;
            border: 0.05px solid #d1cece;
            border-radius: 8px;
            visibility: visible;
            z-index: 10;
        }
    .container_menu_element_profil
    {
        position: relative;
        width: 100%;
        height: 20%;
        cursor: pointer;
        
    }
        .container_menu_element_profil:hover
        {
            background-color: #eaeff7;
        }
        .container_menu_element_profil_1
        {
          position: absolute;
          width: 30%;
          height: 100%;
          left: 3%;
          display: flex;
          align-items: center;
          justify-content: center;
          
        }
        .container_profil_1
        {
            position: absolute;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border: 0.05px solid #d1cece;
            
        }
            .container_profil_1 img
            {
                height: 100%;
            }
        .container_menu_element_profil_2
        {
          position: absolute;
          width: fit-content;
          max-width: 60%;
          top: 18px;
          left: 25%;
          overflow: hidden;
          height: auto;
         margin-left: 10%;
        }
        .container_name_1
        {
            font-size: 17px;
            font-family: 'segoe ui';
            font-weight: 500;
            color: black;
        }
        .container_name_2
        {
            font-size: 15px;
            font-family: 'segoe ui';
            font-weight: 400;
            color: gray;
        }
        
    .container_menu_element_1
    {
        position: relative;
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        cursor: pointer;

    }
        .container_menu_element_1:hover{
            background-color: #eaeff7;
        }
        .container_menu_icon
        {
            position: relative;
            width: 15%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .container_menu_icon img
            {
                height: 45%;
            }
        .container_menu_titre
        {
            position: relative;
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            font-family: 'segoe ui';
            font-weight: 500;
            font-size: 15px;

        }
.container_mag_acceuil
{
    position: relative;
    margin-left: 250px;
    margin-top: 80px;
    width: 40%;
    height: fit-content;
    background-color: white;
    border-radius: 8px;
    border: 0.5px solid #d1cece;
    display: flex;
    flex-direction: column;
    
}
.container_mag_1
{
    position: relative;
    margin-left: 250px;
    margin-top: 80px;
    width: 40%;
    height: 250px;
    
}
   .container_mag_11
   {
       position: relative;
       height: 30%;
       width: 100%;
       background-color: transparent;
       display: flex;
       align-items: center;
      
   }
      .button_1
      {
          position: relative;
          background-color: #416cb4;
          padding: 8px 15px 8px 15px;
          border-radius: 25px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-weight: 500;
          color: white;
          cursor: pointer;
          font-size: 15px;
      }
      .button_1:hover
      {
        background-color: #3e64a7;
      }
      .button_2
      {
         position: relative;
         height: fit-content;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-weight: 500;
          color: black;
          cursor: pointer;
          font-size: 15px;
          margin: 10px;
          padding: 6px 14px 6px 14px;
          border: 0.5px solid black;
          border-radius: 25px;
          background-color: transparent;
          display: flex;
          
          

      }
      .button_2:hover
      {
        background-color: black;
        color: white;
      }
      .button_3
      {
         position: relative;
         height: fit-content;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-weight: 500;
          color: black;
          cursor: pointer;
          font-size: 15px;
          margin: 10px;
          padding: 6px 14px 6px 14px;
          border: 0.5px solid black;
          border-radius: 25px;

      }
      .button_3:hover
      {
        background-color: black;
        color: white;
      }
      .button_4
      {
         position: relative;
         height: fit-content;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-weight: 500;
          color: white;
          cursor: pointer;
          font-size: 15px;
          margin: 10px;
          padding: 6px 14px 6px 14px;
          border-radius: 25px;
          background-color: #416cb4;
          display: flex;
          
          

      }
      .button_4:hover
      {
        background-color: #3e64a7;
        color: white;
      }
    
    .button_5
    {
       position: relative;
       height: fit-content;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        color: white;
        cursor: pointer;
        font-size: 15px;
        padding: 6px 14px 6px 14px;
        border-radius: 25px;
        background-color: #416cb4;
        display: flex;
        
        

    }
    .button_5:hover
    {
      background-color: #3e64a7;
      color: white;
    }
   .container_mag_12
   {
       position: relative;
       height: 70%;
       width: 100%;
       background-color: transparent;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
   }
   .container_mag_121
   {
       position: relative;
       height: 90%;
       width: 30%;
       background-color: rgb(156, 211, 193);
       border: 1px solid #b7b4b4;
       border-radius: 8px;
       display: flex;
       align-items: center;
       justify-content: center;
       overflow: hidden;
       cursor: pointer;
       
   }
       .container_mag_121::before
       {
           position:absolute;
           content: "";
           width: 100%;
           height: 100%;
           background-image: linear-gradient(transparent,black 120%);
       }
       .container_mag_121 img
       {
           width: 100%;
       }
       .text_1
       {
           position: absolute;
           color: white;
           font-size: 15px;
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           font-weight: 500;
           left: 4%;
           bottom: 15%;
       }
       .text_2
       {
           position: absolute;
           color: white;
           font-size: 12px;
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           font-weight: 400;
           left: 4%;
           bottom: 5%;
       }
.container_mag_2
{
    position: relative;
    margin-left: 250px;
    margin-top: 20px;
    width: 40%;
    height: fit-content;
    background-color: white;
    border: 0.05px solid #d1cece;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px 0 4px 0;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    color: rgb(99, 99, 99);
    font-size: 15px;
    
}
   .container_mag_2 img
   {
       height: 20px;
       padding: 4px;
   }
   .container_mag_3
   {
       position: relative;
       margin-left: 250px;
       margin-top: 20px;
       width: 40%;
       border-radius: 8px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       padding: 4px 0 4px 0;
       display: flex;
       flex-direction: row;
       font-weight: 620;
       font-size: 18px;
       
   }
.cont_afficheur_article
{
    position: relative;
    margin-left: 250px;
    margin-top: 20px;
    width: 40%;
    height: fit-content;
    background-color: white;
    border: 0.05px solid #d1cece;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;

} 
.cont_afficheur_article_2
{
    position: relative;
    margin-left: 45%;
    margin-top: 5px;
    width: 40%;
    height: fit-content;
    background-color: white;
    border: 0.05px solid #d1cece;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;

}   
    .cont_afficheur_art_profil{
        position: relative;
        width: 100%;
        height: 60px;
       
        
        
    }
       .cont_afficheur_profil
       {
           position: absolute;
           width: 40px;
           height: 40px;
           top: 10px;
           left: 15px;
           display: flex;
           align-items: center;
           justify-content: center;
           border: 0.05px solid #d1cece;
           cursor: pointer;
           overflow: hidden;
       }
            .cont_afficheur_profil img
            {
                width: 100%;
            }
            .cont_afficheur_nom
            {
                position: absolute;
                width: 60%;
                height: fit-content;
                left: 70px;
                top: 10px;
                font-size: 15px;
                font-weight: 500;
                cursor: pointer;
            }
            .cont_afficheur_nom_admin
            {
                position: absolute;
                width: 60%;
                height: fit-content;
                left: 70px;
                top: 33px;
                font-size: 13px;
                font-weight: 400;
                color: gray;
                cursor: pointer;
            }
                .cont_afficheur_nom_admin img
                {
                    width: 4%;
                }
            .cont_afficheur_abonner{
                position: absolute;
                width: fit-content;
                height: fit-content;
                right: 5px;
                top: 16px;
                font-size: 17px;
                font-weight: 500;
                border-radius: 2px;
                color:white;
                cursor: pointer;
                padding: 5px;
                display: flex;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                flex-direction: row-reverse;
                color: #416cb4;
            }
            .cont_afficheur_abonner:hover
            {
                text-decoration: underline;
            }
           
    .cont_afficheur_images{
        position: relative;
        width: 100%;
        height: fit-content;
        cursor: pointer;
        max-height: 500px;
        overflow: hidden;
    }
        .cont_afficheur_images img
        {
            width: 100%;
        }
    .cont_afficheur_description
    {
        position: relative;
        width: 100%;
        height: fit-content;
        cursor: pointer;
        
    }
        .titre_1{
            position: relative;
            width: 100%;
            height: fit-content;
            padding: 4px 4px 1px 4px;
            font-size: 17px;
            font-weight: 550;
            
        }
        .titre_2{
            position: relative;
            width: 100%;
            height: fit-content;
            padding: 0 2px 1px 2px;
            font-size: 16px;
            font-weight: 400;
        }
    .cont_afficheur_reaction
    {
        position: relative;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
       

    }
       .cont_reaction1
       {
           position: relative;
           display: flex;
           align-items: center;
           font-size: 13px;
           font-weight: 500;
           margin-left: 5px;
           margin-right: 10px;
           color: #808080;
           cursor: pointer;
           
       }
       .cont_reaction1:hover, .cont_reaction2:hover
       {
          text-decoration: underline;
       }
           .cont_reaction1 img
           {
               width: 16px;
               margin-right: 7px;
               cursor: pointer;
             border-end-end-radius: ;
           }
           .cont_reaction2
           {
               position: absolute;
               display: flex;
               align-items: center;
               font-size: 15px;
               font-weight: 500;
               right: 2px;
               cursor: pointer;
               
           }
           .cont_reaction2 img
           {
               width: 18px;
               margin-right: 7px;
               cursor: pointer;
           }
.cont_audio_article
{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(215, 229, 194);
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;


}
.cont_audio_article audio
{
  width: 100%;
}
.container_back
{
    position: absolute;
    width: 5%;
    height: 100%;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .container_back img
    {
        width: 55%;
        cursor: pointer;
    }
.titre_page
{
    position: absolute;
    width: 15%;
    left: 5%;
    height: 100%;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    font-weight:600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container_profil_magazine1
{
    position: fixed;
    width: 40%;
    top: 80px;
    height: fit-content;
    left: 5px;
    border-radius: 8px;
    background-color: white;
    border: 0.05px solid #d1cece;
}
    .container_profil_magazine11
    {
       position: relative;
       width: 100%;
       height: 200px;
       display: flex;
       align-items:center ;
       overflow: hidden;
       border-bottom: 0.05px solid #f3f3f3;
    }
       .cont_profil_mag_image
       {
           position: absolute;
           width: 150px;
           height: 150px;
           left: 3%;
           overflow: hidden;
           align-items: center;
           justify-content: center;
           border: 0.05px solid #d1cece;
           cursor: pointer;
           
        }
            .cont_profil_mag_image img
            {
                width: 100%;
            }
        .cont_info_mag
        {
            position: absolute;
            width: 55%;
            left: 35%;
        }
        .cont_profil_mag_nom
        {
           position: relative;
           font-size: 30px;
           font-weight: 650;
           padding: 5px;
         
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }
        .cont_profil_mag_abonner
        {
           position: relative;
           font-size: 18px;
           font-weight: 400;
           padding: 5px;
           
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           

        }
        .cont_profil_mag_abonner img
        {
            width: 13px;
        }
        .cont_profil_mag_admin
        {
           position: relative;
           font-size: 15px;
           font-weight: 400;
           padding: 5px;
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           color: #416cb4;
           cursor: pointer;

        }
        .cont_profil_mag_admin  img{
            width: 13px;

        }
                 .cont_profil_mag_admin:hover
                 {
                    text-decoration: underline;
                 }
         .cont_profil_mag_type
        {
           position: relative;
           font-size: 15px;
           font-weight: 400;
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           padding: 5px;
           font-weight: 400;
           color: gray;

        }
    .container_profil_magazine12
    {
       position: relative;
       width: 100%;
       height: fit-content;
       color: #416cb4;
       
      
    }
        .cont_buttons_profil
        {
            position: relative;
            width: 100%;
            height: 65px;
            display: flex;
            align-items: center;
            
           
        }
.cont_profil_mag_txt
{
   position: relative;
   font-size: 28px;
   font-weight: 650;
   padding: 8px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.cont_profil_mag_txt2
{
   position: relative;
   font-size: 16px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding: 8px;
   font-weight: 400;
   color: black;

}
.container_mag_acceuil2
{
    position: relative;
    margin-left: 250px;
    margin-top: 10px;
    width: 40%;
    height: 80px;
    background-color: transparent;
    border-radius: 8px;
    
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 105%;
   font-weight: 500;
    
}
.container_profil_magazine13
{
    position: relative;
    width: 40%;
    height: 80px;
    margin-top: 80px;
    margin-left: 45%;
   display: flex;
    align-items: center;
    font-size: 120%;
    font-weight: 650;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container_recherche
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.7);
    top: 0;
    z-index: 10;
    display: none;
  
   
}
   .container_recherche1
   {
      position: absolute;
      width: 40%;
      height: 300px;
      background-color: white;
      left: 18%;
      border-radius: 8px;
      top: 5px;
      overflow: hidden;
      
   }
   .container_search_form_show
   {
       position: relative;
       width: 95%;
       height:12% ;
       display: flex;
       align-items: center;
       justify-content: start;
       background-color: #f5f8fd;
       margin: 5px;
       padding: 2px;
       border-radius: 25px;

      
       
       
   }
.container_image_complete
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
   .container_img
   {
    position: absolute;
    width: 40%;
    height: fit-content;
    top: 70px;
   } 
   .container_img img
   {
       width: 100%;
   }
.cont_afficheur_article2
{
    position: fixed;
    margin-left: 10px;
    margin-top: 2px;
    width: 40%;
    height: fit-content;
    background-color: white;
    border: 0.05px solid #d1cece;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    overflow: hidden;

}
.cont_afficheur_article3
{
    position: relative;
    margin-left: 42%;
    margin-top: 90px;
    width: 50%;
    height: fit-content;
    background-color: white;
    border: 0.05px solid #d1cece;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;

}
.cont_afficheur_article4
{
    position: relative;
    margin-left: 42%;
    margin-top: 20px;
    width: 50%;
    height: fit-content;
    background-color: white;
    border: 0.05px solid #d1cece;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;

}
  .commentaire
  {
      position: relative;
      width: 100%;
      height: fit-content;
      padding-bottom: 20px;
     
  }
   .commentaire textarea
   {
       width: 98%;
       height: 80px;
       border-radius: 8px;
       border: 0.05px solid #d1cece;
       background-color: #eaeff7;
   }
    .commentaire_1
    {
        position: relative;
        width: 100%;
        height: fit-content;
        
        display: flex;
        font-weight: 500;
        align-items: center;
    } 
        .commentaire_img
        {
            position: relative;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;

        }
           .commentaire_img img
           {
               width: 100%;
           }
           .commentaire_send
           {
               position: relative;
               width: 20%;
               height: fit-content;
               padding-bottom: 20px;
               
              
           }
.container_suggestion
{
    position: fixed;
    width: 30%;
    left: 60%;
    top: 80px;
    height: 500px;
    background-color: white;
    border: 0.05px solid #d1cece;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    display: flex;
    flex-direction: column;

}
.container_sugg_21
{
    width: 100%;
    height: fit-content;
    position: relative;
    margin-top: 5px;
    
    
}  
.container_sugg_2
{

margin-top: 10px;
} 
  .container_sugg_22
{
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    flex-direction:row;
    align-items: center;
}
  .container_sugg_img 
    {
      position: relative;
      width: 40px;
      height: 40px;
      border: 0.05px solid #d1cece;
      overflow: hidden;
     
    }
    .container_sugg_img img
    {
        width: 100%;

    }
    .container_sugg_txt
    {
        padding-left: 10px;
        width: 35%;
        font-weight: 600;
        display: flex;
        flex-direction: column;
       
        
    }
    .container_sugg_txt_2
    {
        position: absolute;
        right:0;
        font-weight: 600;
        display: flex;
        flex-direction: row
        
    }
.cont_afficheur_vue
{
    position: relative;
    margin-left: 10px;
    margin-top: 80px;
    width: 40%;
    height: fit-content;
    background-color: white;
    border: 0.05px solid #d1cece;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    overflow: hidden;
    

}
.cont_afficheur_vue_2
{
    position: relative;
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
.cont_afficheur_parametre
{
    position: relative;
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    
}
.cont_afficheur_parametre:hover
{
    background-color: #f5f8fd;
}
.cont_afficheur_vue_2:hover
{
  background-color: #f5f8fd;
}
   .cont_afficheur_vue_3
   {
       width: 40px;
       height: 40px;
       overflow: hidden;
       border-radius: 50%;
       margin-right: 7px;

   }
   .cont_afficheur_vue_3 img
   {
     width: 100%;
   }
.cont_comment_all
   {
      
    position: relative;
    margin-left: 10px;
    margin-top: 80px;
    width: 40%;
    height: fit-content;
    background-color: white;
    border: 0.05px solid #d1cece;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 5px;
   }
   .cont_noti_all
   {
      
    position: relative;
    margin-left: 10px;
    margin-top: 80px;
    width: 40%;
    height: fit-content;
    background-color: white;
    border: 0.05px solid #d1cece;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 5px;
    
   }
   .cont_noti_all_1
   {
      
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 5px;
    display: flex;
   }
   .cont_noti_img
   {
     position: relative;
     width: 50px;
     height: 50px;
   }
   .cont_noti_img img
   {
       width: 100%;
   }
   .cont_noti_txt
   {
       width: 80%;
       height: fit-content;
       
   }
.container_login_1
{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
}
    .container_login_1 img
    {
        width: 80%;
    }
.container_login_3
{
 position: absolute;
 width: 50%;
 height:100% ;
 right: 0;
 display: flex;
justify-content: center;
}
.container_login_2
{
 position: absolute;
 width: 100%;
 height:100% ;
 right: 0;
 display: flex;
justify-content: center;

}
.container_login_21
{
    position: absolute;
    width: 60%;
    height: fit-content;
    background-color: white;
    border: 0.05px solid #d1cece;
    border-radius: 8px;
    overflow: hidden;
    top: 100px;
}
.container_login_211
{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
    .container_login_211 img
    {
        height: 40%;
       
    }
.container_login_212
{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 7px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
  

} 
    .cont_log1
    {
        position: relative;
        width: 30%;
        margin-top: 15px;
    }
   
    .cont_log2
    {
        position: relative;
        width: 100%;
        margin-top: 15px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
.container_profil_general
{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    border-bottom: 0.05px solid #d1cece;
    
    
}
   .cont_profil_general_1
   {
       position: relative;
       width: 120px;
       height: 120px;
       background-color: #3e64a7;
       margin-left: 10px;
       overflow: hidden;
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
       border: 0.05px solid #d1cece;
   }
    .cont_profil_general_1 img
    {
        width: 100%;
    }
    .cont_profil_general_2
   {
       position: relative;
       width: 70%;
       height: fit-content;
       margin-left: 15px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: 20px;
       font-weight: 650;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
    }
.container_profil_general_2
{
    position: relative;
    width: 100%;
    height: 250px;
    
}
.cont_profil_general_3
{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 110%;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.elements_profil
{
    
    cursor: pointer;
    width: fit-content;
    padding: 6px;
    display: flex;
    align-items: center;
}
  .elements_profil img
  {
      width: 20px;
      margin-left: 5px;
      margin-right: 5px;
  }
.cont_mag_profile
{
    position: relative;
    margin-left: 2%;
    width: 96%;
    height: 220px;
    display: flex;
    align-items: center;
   
}
.cont_affiche_bio
{
    position: relative;
    margin-left: 45%;
    margin-top: 5px;
    width: 40%;
    padding: 4px;
    height: fit-content;
    background-color: white;
    border: 0.05px solid #d1cece;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;

} 
.cont_affiche_bio_2
{
    position: relative;
    margin-left: 45%;
    margin-top: 80px;
    width: 40%;
    padding: 4px;
    height: fit-content;
    background-color: white;
    border: 0.05px solid #d1cece;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;

} 
.container_modifier
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.7);
    top: 0;
    z-index: 10;
    display: none;
    
  
   
}
.container_modifier_cancel
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.7);
    top: 0;
    z-index: 12;
    display: none;
    
  
   
}
.container_modifier1
{
   position: absolute;
   width: 40%;
   height: fit-content;
   background-color: white;
   left: 30%;
   border-radius: 8px;
   top: 70px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.cont_mod
{
    position: relative;
    width: 80%;
    height: 100px;
    margin-top: 50px;
    overflow: hidden;
    border: 2px dashed gray;
    
   
    
}
.cont_imp
{
   
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: #f5f8fd;
    cursor: pointer;
   

    
}
.cont_mod_0 i
{
  position: absolute;
  right:5%;
  font-size: 30px;
  cursor: pointer;
}
.cont_mod1
{
    position: relative;
    width: 80%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items:center ;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
   
    
}
.cont_mod_bio
{
    position: relative;
    width: 80%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items:center ;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
   
    
}
.cont_mod2
{
    position: relative;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    
   
    
}
.cont_mod3
{
    position: relative;
    width: 80%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items:center ;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    
   
    
}
.container_rediger
{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgb(0, 0, 0,0.7);
    top: 0;
    z-index: 10;
    display: none;
    
  
   
}
.container_rediger1
{
   position: absolute;
   width: 70%;
   height: 500px;
   overflow-y: scroll;
   background-color: white;
   left: 15%;
   border-radius: 8px;
   top: 70px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.cont_afficheur_offre
{
    position: relative;
    margin-left: 250px;
    margin-top: 20px;
    width: 40%;
    height: fit-content;
    background-color: white;
    border: 0.05px solid #d1cece;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    

}
.cont_afficheur_offre_2
{
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
    background-color: white;
    border: 0.05px solid #d1cece;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    display: flex;
    flex-direction:row;
    

}
.cont_afficheur_offre_profil
{
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
   
}
.cont_afficheur_offre_profil2
{
    position: relative;
    width: 70%;
    height: fit-content;
   margin-top: 20px;
    display: flex;
    flex-direction: column;
   
}
.offre_profil
{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    overflow: hidden;
}
.offre_profil img
{
    width: 100%;
}

.container_modifier_bio
{
   position: absolute;
   width: 40%;
   height: fit-content;
   background-color: white;
   left: 30%;
   border-radius: 8px;
   top: 70px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   display: none;
   
}
.container_modifier_bio_can
{
   position: absolute;
   width: 40%;
   height: 200px;
   background-color: white;
   left: 30%;
   border-radius: 8px;
   top: 200px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
   
}
.cont_load1
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    z-index: 13;
    
}
.container_loader
{
    position: absolute;
    width: 40%;
    left: 30%;
    height: 100px;
    top: 250px;
   
}

.demo-container {
    position: relative;
    width: 300px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
  }
  
  .progress-bar {
    height: 4px;
    background-color: white;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .progress-bar-value {
    width: 100%;
    height: 100%;
    background-color: #416cb4;
    animation: indeterminateAnimation 1s infinite linear;
    transform-origin: 0% 50%;
    border-radius: 8px;
  }
  
  @keyframes indeterminateAnimation {
    0% {
      transform:  translateX(0) scaleX(0);
    }
    40% {
      transform:  translateX(0) scaleX(0.4);
    }
    100% {
      transform:  translateX(100%) scaleX(0.5);
    }
  }
.container_loader_img
{
    position: relative;
    margin-left: 20%;
    width: 60%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container_loader_img img
{
    width: 50%;
}